<?xml version="1.0" ?>
<robot name="robot_for_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find robot_for_gazebo_description)/urdf/materials.xacro" />
<xacro:include filename="$(find robot_for_gazebo_description)/urdf/robot_for_gazebo.trans" />
<link name="base_link">
  <inertial>
    <origin xyz="-9.089504425782191e-15 -3.584506748340361e-17 0.062052000000004624" rpy="0 0 0"/>
    <mass value="0.012946126118149015"/>
    <inertia ixx="2.1e-05" iyy="0.0" izz="2.1e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="aluminum_satin"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="LD19_with_mounter_v4_1">
  <inertial>
    <origin xyz="0.025278982742592156 0.012871504698950298 -0.02298122004142352" rpy="0 0 0"/>
    <mass value="0.19341283989224745"/>
    <inertia ixx="6.5e-05" iyy="7.9e-05" izz="8.9e-05" ixy="0.0" iyz="0.0" ixz="1.2e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.005 0.013 -0.062052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/LD19_with_mounter_v4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.005 0.013 -0.062052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/LD19_with_mounter_v4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_with_mounter_for_gazebo_v2_1">
  <inertial>
    <origin xyz="-0.03453190717814435 -0.00018898317931283215 -0.026018598345423673" rpy="0 0 0"/>
    <mass value="0.816685922930684"/>
    <inertia ixx="0.00049" iyy="0.00039" izz="0.000504" ixy="8.6e-05" iyz="5.7e-05" ixz="-3.3e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.06 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/motor_with_mounter_for_gazebo_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.06 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/motor_with_mounter_for_gazebo_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="omuni_wheel_unit_for_gazebo_v11_1">
  <inertial>
    <origin xyz="0.012629149047524298 -0.02196052615796354 0.00023810845521911664" rpy="0 0 0"/>
    <mass value="0.06632347722991666"/>
    <inertia ixx="1.4e-05" iyy="1.6e-05" izz="1.3e-05" ixy="-2e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.019081 0.086951 -0.030052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/omuni_wheel_unit_for_gazebo_v11_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque198193188"/>
  </visual>
  <collision>
    <origin xyz="0.019081 0.086951 -0.030052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/omuni_wheel_unit_for_gazebo_v11_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_1">
  <inertial>
    <origin xyz="-0.007938729331988706 -0.004582992241931649 0.0012414140552406017" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003364 0.113888 -0.005769" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.003364 0.113888 -0.005769" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_2">
  <inertial>
    <origin xyz="0.007053941190220604 0.004073024553153115 0.00438385077261564" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.005553 0.104487 -0.005221" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.005553 0.104487 -0.005221" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_3">
  <inertial>
    <origin xyz="-0.0014311822451907284 -0.0008257282683959838 0.009100865712193262" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.013311 0.093596 -0.025395" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.013311 0.093596 -0.025395" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_4">
  <inertial>
    <origin xyz="-0.007938146235404592 -0.004583403033501632 0.001240543788397469" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.002524 0.099823 -0.052345" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.002524 0.099823 -0.052345" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_5">
  <inertial>
    <origin xyz="-0.0034752803461618013 -0.0020065185834011734 -0.008334401265791692" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.023006 0.114563 -0.048827" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.023006 0.114563 -0.048827" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_6">
  <inertial>
    <origin xyz="0.0057904787180514325 0.0033429373627741066 -0.0063919643983199655" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.027998 0.117445 -0.019703" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.027998 0.117445 -0.019703" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_6.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_7">
  <inertial>
    <origin xyz="-0.001430693322202664 -0.0008266670070372628 0.009101092131444347" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.020438 0.127629 -0.016999" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_7.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.020438 0.127629 -0.016999" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_7.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_8">
  <inertial>
    <origin xyz="0.007054183242385626 0.004072580171413681 0.00438410707102195" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.018544 0.126536 -0.046607" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_8.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.018544 0.126536 -0.046607" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_8.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_9">
  <inertial>
    <origin xyz="0.005790645714554619 0.003343667361792646 -0.00639207775804234" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.006428 0.112119 -0.053677" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_9.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.006428 0.112119 -0.053677" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_9.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_10">
  <inertial>
    <origin xyz="-0.003475595221231781 -0.002006876692032075 -0.008334640890570066" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.019968 0.104301 -0.028438" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_10.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.019968 0.104301 -0.028438" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_10.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_with_mounter_for_gazebo_v2_2">
  <inertial>
    <origin xyz="-0.03453190717813471 0.0001889831793073088 -0.026018598345423676" rpy="0 0 0"/>
    <mass value="0.816685922930684"/>
    <inertia ixx="0.00049" iyy="0.00039" izz="0.000504" ixy="-8.6e-05" iyz="-5.7e-05" ixz="-3.3e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.06 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/motor_with_mounter_for_gazebo_v2_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.06 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/motor_with_mounter_for_gazebo_v2_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="omuni_wheel_unit_for_gazebo_v11_2">
  <inertial>
    <origin xyz="0.012559048316473954 0.0220009988339053 0.00020771383931385626" rpy="0 0 0"/>
    <mass value="0.06632347722991666"/>
    <inertia ixx="1.4e-05" iyy="1.6e-05" izz="1.3e-05" ixy="2e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.019081 -0.086951 -0.030052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/omuni_wheel_unit_for_gazebo_v11_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque198193188"/>
  </visual>
  <collision>
    <origin xyz="0.019081 -0.086951 -0.030052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/omuni_wheel_unit_for_gazebo_v11_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_11">
  <inertial>
    <origin xyz="0.005268750257783096 -0.0030420839412670653 0.006967512938265273" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.008144 -0.111128 -0.007842" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_11.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.008144 -0.111128 -0.007842" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_11.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_12">
  <inertial>
    <origin xyz="0.007367208543853303 -0.0042532308542741065 -0.0036336671266146685" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.017278 -0.125805 -0.012289" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_12.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.017278 -0.125805 -0.012289" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_12.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_15">
  <inertial>
    <origin xyz="-0.0007159855664648739 0.0004134331199417418 -0.009212838701390946" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.021471 -0.128226 -0.04158" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_15.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.021471 -0.128226 -0.04158" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_15.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_13">
  <inertial>
    <origin xyz="-0.007809549065202442 0.004508997269852669 -0.002060942734317152" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.001359 -0.115045 -0.055237" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_13.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.001359 -0.115045 -0.055237" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_13.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_14">
  <inertial>
    <origin xyz="-0.004110702335300023 0.002373225137674087 0.007939833816472001" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.019662 -0.104478 -0.034385" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_14.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.019662 -0.104478 -0.034385" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_14.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_20">
  <inertial>
    <origin xyz="-0.004110008930832288 0.002372791067412172 0.007939325460494199" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.021575 -0.113737 -0.010269" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_20.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.021575 -0.113737 -0.010269" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_20.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_16">
  <inertial>
    <origin xyz="0.005269538476084388 -0.0030418998536453495 0.006967646338700957" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.028816 -0.117917 -0.038756" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_16.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.028816 -0.117917 -0.038756" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_16.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_19">
  <inertial>
    <origin xyz="0.007367080190014667 -0.004253752940639288 -0.0036331735964196116" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.00759 -0.105663 -0.055511" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_19.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.00759 -0.105663 -0.055511" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_19.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_18">
  <inertial>
    <origin xyz="-0.007809162200929574 0.0045090189352342686 -0.002060897988717382" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.004126 -0.098898 -0.009418" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_18.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.004126 -0.098898 -0.009418" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_18.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_17">
  <inertial>
    <origin xyz="-0.0007157256996675465 0.00041358308514523323 -0.009213002021643286" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.012769 -0.093908 -0.037379" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_17.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="-0.012769 -0.093908 -0.037379" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_17.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="alm_1_v3_1">
  <inertial>
    <origin xyz="-0.051961049228450525 0.029999999552942247 0.005000000000000088" rpy="0 0 0"/>
    <mass value="0.01316675074543267"/>
    <inertia ixx="6e-06" iyy="1.6e-05" izz="2.1e-05" ixy="9e-06" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.051962 0.09 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/alm_1_v3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="aluminum_satin"/>
  </visual>
  <collision>
    <origin xyz="0.051962 0.09 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/alm_1_v3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="alm_1_v3_2">
  <inertial>
    <origin xyz="-0.051961049228450566 -0.029999999552942212 0.005000000000000081" rpy="0 0 0"/>
    <mass value="0.01316675074543267"/>
    <inertia ixx="6e-06" iyy="1.6e-05" izz="2.1e-05" ixy="-9e-06" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.051962 -0.09 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/alm_1_v3_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="aluminum_satin"/>
  </visual>
  <collision>
    <origin xyz="0.051962 -0.09 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/alm_1_v3_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_with_mounter_for_gazebo_v2_3">
  <inertial>
    <origin xyz="0.017102715899386778 -0.02999999999999451 -0.026018598345423662" rpy="0 0 0"/>
    <mass value="0.816685922930684"/>
    <inertia ixx="0.00034" iyy="0.000539" izz="0.000504" ixy="0.0" iyz="0.0" ixz="6.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.155885 -0.03 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/motor_with_mounter_for_gazebo_v2_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="0.155885 -0.03 -0.057052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/motor_with_mounter_for_gazebo_v2_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="omuni_wheel_unit_for_gazebo_v11_3">
  <inertial>
    <origin xyz="-0.02533227216993736 0.0001498703415734468 0.0001900086924861849" rpy="0 0 0"/>
    <mass value="0.06632347722991666"/>
    <inertia ixx="1.7e-05" iyy="1.3e-05" izz="1.3e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.169685 0.0 -0.030052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/omuni_wheel_unit_for_gazebo_v11_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque198193188"/>
  </visual>
  <collision>
    <origin xyz="0.169685 0.0 -0.030052" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/omuni_wheel_unit_for_gazebo_v11_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_30">
  <inertial>
    <origin xyz="4.265444877582514e-07 0.008677380921537692 -0.003204106254155386" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.204235 0.016662 -0.011407" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_30.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.204235 0.016662 -0.011407" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_30.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_25">
  <inertial>
    <origin xyz="4.265444877304958e-07 0.005728014946012397 0.00726281685605539" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.204235 -0.012878 -0.008432" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_25.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.204235 -0.012878 -0.008432" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_25.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_29">
  <inertial>
    <origin xyz="4.265444878692737e-07 -0.005137269542768684 0.007692144179056927" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.204235 -0.024835 -0.035607" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_29.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.204235 -0.024835 -0.035607" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_29.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_23">
  <inertial>
    <origin xyz="4.26544487980296e-07 -0.008903186275264641 -0.002508366408960974" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.204235 -0.002685 -0.055376" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_23.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.204235 -0.002685 -0.055376" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_23.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_26">
  <inertial>
    <origin xyz="4.265444877582514e-07 -0.0003658191767784355 -0.009243042054364582" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.204235 0.022961 -0.04042" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_26.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.204235 0.022961 -0.04042" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_26.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_28">
  <inertial>
    <origin xyz="4.265444878415181e-07 0.008677267427557775 -0.0032043152187922128" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.191635 0.000383 -0.055498" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_28.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.191635 0.000383 -0.055498" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_28.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_21">
  <inertial>
    <origin xyz="4.265444879525404e-07 -0.00036553247412641696 -0.009242379418583049" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.191635 -0.024002 -0.038562" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_21.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.191635 -0.024002 -0.038562" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_21.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_24">
  <inertial>
    <origin xyz="4.2654448778600695e-07 -0.008903165375640006 -0.0025080550639864146" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.191635 -0.015431 -0.010137" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_24.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.191635 -0.015431 -0.010137" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_24.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_22">
  <inertial>
    <origin xyz="4.2654448781376253e-07 0.005728633403082887 0.00726276167099741" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.191635 0.024025 -0.037539" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_22.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.191635 0.024025 -0.037539" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_22.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="barrel_v5_27">
  <inertial>
    <origin xyz="4.265444874806956e-07 -0.0051370821081361505 0.007692434347995578" rpy="0 0 0"/>
    <mass value="0.0026444663888246754"/>
    <inertia ixx="1e-06" iyy="1e-06" izz="1e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.191635 0.014251 -0.009505" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_27.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silicone_white"/>
  </visual>
  <collision>
    <origin xyz="0.191635 0.014251 -0.009505" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_for_gazebo_description)/meshes/barrel_v5_27.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 2" type="fixed">
  <origin xyz="0.005 -0.013 0.062052" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="LD19_with_mounter_v4_1"/>
</joint>

<joint name="Rigid 5" type="fixed">
  <origin xyz="0.0 -0.06 0.057052" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="motor_with_mounter_for_gazebo_v2_1"/>
</joint>

<joint name="wheel_3" type="continuous">
  <origin xyz="-0.019081 -0.026951 -0.027" rpy="0 0 0"/>
  <parent link="motor_with_mounter_for_gazebo_v2_1"/>
  <child link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <axis xyz="0.5 -0.866025 0.0"/>
</joint>

<joint name="Rigid 19" type="fixed">
  <origin xyz="0.022445 -0.026937 -0.024283" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_1"/>
</joint>

<joint name="Rigid 20" type="fixed">
  <origin xyz="0.013528 -0.017536 -0.024831" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_2"/>
</joint>

<joint name="Rigid 21" type="fixed">
  <origin xyz="0.032392 -0.006645 -0.004657" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_3"/>
</joint>

<joint name="Rigid 22" type="fixed">
  <origin xyz="0.021605 -0.012872 0.022293" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_4"/>
</joint>

<joint name="Rigid 23" type="fixed">
  <origin xyz="-0.003925 -0.027612 0.018775" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_5"/>
</joint>

<joint name="Rigid 24" type="fixed">
  <origin xyz="-0.008917 -0.030494 -0.010349" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_6"/>
</joint>

<joint name="Rigid 25" type="fixed">
  <origin xyz="-0.001357 -0.040678 -0.013053" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_7"/>
</joint>

<joint name="Rigid 26" type="fixed">
  <origin xyz="0.000537 -0.039585 0.016555" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_8"/>
</joint>

<joint name="Rigid 27" type="fixed">
  <origin xyz="0.025509 -0.025168 0.023625" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_9"/>
</joint>

<joint name="Rigid 28" type="fixed">
  <origin xyz="0.039049 -0.01735 -0.001614" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_1"/>
  <child link="barrel_v5_10"/>
</joint>

<joint name="Rigid 29" type="fixed">
  <origin xyz="0.0 0.06 0.057052" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="motor_with_mounter_for_gazebo_v2_2"/>
</joint>

<joint name="wheel_1" type="continuous">
  <origin xyz="-0.019081 0.026951 -0.027" rpy="0 0 0"/>
  <parent link="motor_with_mounter_for_gazebo_v2_2"/>
  <child link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <axis xyz="0.5 0.866025 -0.0"/>
</joint>

<joint name="Rigid 31" type="fixed">
  <origin xyz="0.027225 0.024177 -0.02221" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_11"/>
</joint>

<joint name="Rigid 32" type="fixed">
  <origin xyz="0.001803 0.038854 -0.017763" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_12"/>
</joint>

<joint name="Rigid 33" type="fixed">
  <origin xyz="-0.00239 0.041275 0.011528" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_15"/>
</joint>

<joint name="Rigid 34" type="fixed">
  <origin xyz="0.02044 0.028094 0.025185" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_13"/>
</joint>

<joint name="Rigid 35" type="fixed">
  <origin xyz="0.038743 0.017527 0.004333" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_14"/>
</joint>

<joint name="Rigid 36" type="fixed">
  <origin xyz="-0.002494 0.026786 -0.019783" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_20"/>
</joint>

<joint name="Rigid 37" type="fixed">
  <origin xyz="-0.009735 0.030966 0.008704" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_16"/>
</joint>

<joint name="Rigid 38" type="fixed">
  <origin xyz="0.011491 0.018712 0.025459" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_19"/>
</joint>

<joint name="Rigid 39" type="fixed">
  <origin xyz="0.023207 0.011947 -0.020634" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_18"/>
</joint>

<joint name="Rigid 40" type="fixed">
  <origin xyz="0.03185 0.006957 0.007327" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_2"/>
  <child link="barrel_v5_17"/>
</joint>

<joint name="Rigid 41" type="fixed">
  <origin xyz="-0.051962 -0.03 0.0" rpy="0 0 0"/>
  <parent link="motor_with_mounter_for_gazebo_v2_1"/>
  <child link="alm_1_v3_1"/>
</joint>

<joint name="Rigid 42" type="fixed">
  <origin xyz="-0.051962 0.03 0.0" rpy="0 0 0"/>
  <parent link="motor_with_mounter_for_gazebo_v2_2"/>
  <child link="alm_1_v3_2"/>
</joint>

<joint name="Rigid 43" type="fixed">
  <origin xyz="-0.103923 -0.06 0.0" rpy="0 0 0"/>
  <parent link="alm_1_v3_2"/>
  <child link="motor_with_mounter_for_gazebo_v2_3"/>
</joint>

<joint name="wheel_2" type="continuous">
  <origin xyz="-0.0138 -0.03 -0.027" rpy="0 0 0"/>
  <parent link="motor_with_mounter_for_gazebo_v2_3"/>
  <child link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <axis xyz="-1.0 -0.0 0.0"/>
</joint>

<joint name="Rigid 45" type="fixed">
  <origin xyz="-0.03455 -0.016662 -0.018645" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_30"/>
</joint>

<joint name="Rigid 46" type="fixed">
  <origin xyz="-0.03455 0.012878 -0.02162" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_25"/>
</joint>

<joint name="Rigid 47" type="fixed">
  <origin xyz="-0.03455 0.024835 0.005555" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_29"/>
</joint>

<joint name="Rigid 48" type="fixed">
  <origin xyz="-0.03455 0.002685 0.025324" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_23"/>
</joint>

<joint name="Rigid 49" type="fixed">
  <origin xyz="-0.03455 -0.022961 0.010368" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_26"/>
</joint>

<joint name="Rigid 50" type="fixed">
  <origin xyz="-0.02195 -0.000383 0.025446" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_28"/>
</joint>

<joint name="Rigid 51" type="fixed">
  <origin xyz="-0.02195 0.024002 0.00851" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_21"/>
</joint>

<joint name="Rigid 52" type="fixed">
  <origin xyz="-0.02195 0.015431 -0.019915" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_24"/>
</joint>

<joint name="Rigid 53" type="fixed">
  <origin xyz="-0.02195 -0.024025 0.007487" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_22"/>
</joint>

<joint name="Rigid 54" type="fixed">
  <origin xyz="-0.02195 -0.014251 -0.020547" rpy="0 0 0"/>
  <parent link="omuni_wheel_unit_for_gazebo_v11_3"/>
  <child link="barrel_v5_27"/>
</joint>

<gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>/home/ros2/ros_ws/src/inrof2025_ros/config/manager.yaml</parameters>
    </plugin>
</gazebo>

<plugin name="gazebo_ros_state" filename="libgazebo_ros_state.so">
  <ros>
    <namespace>/gazebo</namespace>
  </ros>

  <update_rate>1.0</update_rate>
</plugin>

<!-- ros2_control_settings -->
<ros2_control name="GazeboSystem" type="system">
    <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="wheel_1">
        <param name="vel_kp">0.01</param>
        <!-- <param name="vel_kd">0.0001</param> -->
        <command_interface name="velocity_pid" />
        <state_interface name="position" />
        <state_interface name="velocity" />
    </joint>
    <joint name="wheel_2">
        <param name="vel_kp">0.01</param>
        <!-- <param name="vel_kd">0.00001</param> -->
        <command_interface name="velocity_pid" />
        <state_interface name="position" />
        <state_interface name="velocity" />
    </joint>
    <joint name="wheel_3">
        <param name="vel_kp">0.01</param>
        <!-- <param name="vel_kd">0.00001</param> -->
        <command_interface name="velocity_pid" />
        <state_interface name="position" />
        <state_interface name="velocity" />
    </joint>
</ros2_control>

</robot>
